*{
  margin: 0;
  padding: 0;
}




body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.5;
  text-align:left;
  color: #333;
  background-color: #f7f7f7;
}

#header {
  background-image: url(header.jpg);
}

img{
height: 250px;
width: 1500px;
text-align:center !important;

}

body{
  background-image:url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

#main{
  text-align: center;
  font-size: 36px;
}

.endangered-animal li{
  font-weight:bold;
}



