body {
  background-color: #FFFFFF;
  color: #000000;
}

h1 {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

p {
  font-size: 14px;
  opacity: 0.8;
}

#header {
  background-image: url(header.jpg);
}

img{
height: 250px;
width: 1500px;
text-align:center;

}

body{
  background-image:url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
}

#main{
  text-align: center;
  font-size: 36px;
}



